resources:
 repositories:
  - repository: Celestia
    type: github
    endpoint: GithubAuth
    name: celestiamobile/Celestia
  - repository: CelestiaContent
    type: github
    endpoint: GithubAuth
    name: CelestiaProject/CelestiaContent
  - repository: CelestiaLocalization
    type: github
    endpoint: GithubAuth
    name: celestiamobile/CelestiaLocalization

trigger:
- main
- develop

stages:
- stage: Build_MSIXUpload
  displayName: 'Build MSIXUpload'
  jobs:
  - template: jobs/build.yml
    parameters:
      buildType: msixupload
      arch: x64

- stage: Build_Sideload
  displayName: 'Build Sideload'
  dependsOn: []
  jobs:
  - template: jobs/build.yml
    parameters:
      buildType: sideload
      arch: x64

- stage: Publish_Sideload
  displayName: 'Publish Sideload'
  dependsOn:
  - Build_Sideload
  jobs:
  - template: jobs/publish.yml
    parameters:
      publishType: sideload